
body {
  margin: 5px;
  padding: 50px 5px 5px 2px;
  font-family: "DM Serif Text", serif;
  background-image: url("../images/mainframe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h2, p {
  margin: 10px;
}

#main-content{
  background-color: white;
  float: left;
  border: 2px solid black;

}

#page-wrapper {   
  width: 1375px;
  margin: 0 auto;
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 1);
  border-radius: 12px 12px 0px 0px; 
}

h1, #IT-image, #guy-image {
  text-align: center;
}

#guy-image{
  width: 512px;
  height: 337px;
  margin: 10px 0 10px 400px;
  border: 2px solid darkblue;
}

#main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #FCEAF1;
  display: flex;
  justify-content: center;
  border: 2px solid black;
}

#main-nav ul li a {
  display: block;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
}

#main-nav ul li a:hover {
  background-color: #ffc7dd;
}
