
body {
  margin: 2%;
  padding: 1%;
  font-family: Georgia, serif;
  background-image: url(../images/games.jpg);
  background-size: contain;
}

h1, #videogame-image {
  text-align: center;
  font-size: 150%;
}

h2, p {
  margin: 1em;
  background-color: white;
}

#main-content {
  border: 0.1em solid black;
}

#vid{
  padding: 2% 5% 2% 5%;
  text-align: center;  
}

#page-wrapper {   
  width: 85em; 
  margin: 0em auto;
  box-shadow: 0em 2em 4em 1em rgba(0, 0, 0, 1);
  border-radius: 1em 1em 0em 0em;
  background-color: white;
}

#side-list {   
  min-height: 5em;
  width: 15em;
  border: 0.25em solid black;
  float: right;
}

#side-list ul {
    font-style: italic;
}

#main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #FCEAF1;
  display: flex;
  justify-content: center;
  border: 0.1em solid black;
}

#main-nav ul li a {
  display: block;
  color: black;
  padding: 1em 2em;
  text-decoration: none;
}

#main-nav ul li a:hover {
  background-color: #ffc7dd;
}

