
body {
  margin: 5px;
  padding: 20px 5px 5px 2px; 
  font-family: Georgia, serif;
  font-size: 10px;
  background-color: rgb(215, 242, 175);
}

#title {
  text-align: center;
  font-size: 24px;
}

h1, h2, p {
  margin: 10px;
}

#summary,h2, p {
 padding: 0px 400px 0px 0px;
}

#main-content {
  position: fixed;
  border: 2px solid black;
}

#page-wrapper, #main-content {   
  width: 1375px;
  margin: 0 auto;
  box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 1);
  border-radius: 6px 6px 0px 0px; 
  background-color: white;
}

#main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #FCEAF1;
  display: flex;
  justify-content: center;
  border: 2px solid black;
}

#main-nav ul li a {
  display: block;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
}

#main-nav ul li a:hover {
  background-color: #ffc7dd;
}

